<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uniking.rock">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".MyApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NotificationActivity"/>
        <activity android:name=".IdleActivity"/>
        <activity android:name=".DisableActivity"/>
        <activity android:name=".EnableActivity"/>
        <activity android:name=".SettingActivity"/>
        <activity android:name=".BigbangActivity"/>
        <activity android:name=".BackupActivity"/>


        <activity android:name="com.uniking.activity.ShutcutActivity_0"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_1"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_2"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_3"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_4"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_5"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_6"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_7"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_8"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_9"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_10"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_11"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_12"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_13"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_14"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_15"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_16"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_17"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_18"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_19"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_20"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_21"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_22"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_23"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_24"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_25"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_26"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_27"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_28"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_29"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_30"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_31"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_32"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_33"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_34"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_35"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_36"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_37"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_38"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_39"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_40"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_41"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_42"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_43"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_44"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_45"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_46"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_47"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_48"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_49"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_50"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_51"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_52"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_53"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_54"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_55"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_56"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_57"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_58"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_59"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_60"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_61"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_62"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_63"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_64"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_65"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_66"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_67"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_68"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_69"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_70"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_71"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_72"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_73"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_74"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_75"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_76"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_77"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_78"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_79"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_80"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_81"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_82"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_83"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_84"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_85"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_86"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_87"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_88"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_89"/>
        <activity android:name="com.uniking.activity.ShutcutActivity_90"/>

        <service android:name="com.uniking.service.ForegroundService"/>
        <receiver android:name="com.uniking.receiver.ShortCutReceiver" />
        <receiver android:name="com.uniking.receiver.ScreenBroadcastReceiver"/>
        <receiver android:name="com.uniking.receiver.AlarmReceiver"/>
        <receiver android:name="com.uniking.receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>